:host {
  min-height: 100%;
  width: 60%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.app-title {
  margin-top: 3rem;
}

h1, p {
  font-family: 'Roboto', sans-serif;
  color: #555;
  font-weight: 300;
}

.app-title h1 {
  font-size: 4rem;
  margin: 0;
}

.app-title p {
  margin: 0;
}

span.medium {
  font-weight: 500 !important;
}